@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-revalia: var(--font-revalia);
  --font-jersey: var(--font-jersey);
  --font-pixelify: var(--font-pixelify);
  --font-robotoslab: var(--font-robotoslab);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 1.5em rgba(225, 162, 55, 1));
}

h3 {
  font-family: "Jersey 15", sans-serif;
  font-size: 2rem;
}

.pages {
  perspective: 1500px;
  transform: rotateX(20deg);
  transform-style: preserve-3d;
}

.page-left,
.page-right {
  transform-origin: left;
  transition: transform 0.5s;
}

.flip .page-left {
  transform: rotateY(-180deg);
}

.flip .page-right {
  transform: rotateY(0deg);
}

.left-content {
  transform: rotateY(180deg);
}
